<h1>Bookmarks</h1>


<!-- If statement for finding out whether or not you have bookmarks under a particular user. -->
{% if bookmarks %}

Bookmarks:

<ol>
    {% for bookmark in bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
</ol>

{% else %}
We have no bookmarks. Bummer!
{% endif %}


<!-- If statement for finding out whether or not you have personal bookmarks under a particular user. -->
{% if personal_bookmarks %}

Personal Bookmarks:

<ol>
    {% for bookmark in personal_bookmarks %}
    <li><a href="{{ bookmark.url }}">{{ bookmark.name}}</a></li>
    {% endfor %}
</ol>

{% else %}
We have no personal bookmarks. Shoot!

{% endif %}